.gantt {
  display: flex;
  overflow: hidden;
  &__date {
    display: grid;
    grid-template-columns: repeat(28, minmax(40px, 1fr));
    grid-template-rows: 70px 30px;
    grid-auto-rows: 30px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__task {
    padding: 6px;
  }
}

.list {
  border-right: 1px solid $base-100;
  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $base-600;
    padding: 30px 32px;
    border-bottom: 1px solid $base-100;
  }
  &__item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-left: 32px;
    margin-top: 22px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.date {
  &__weeks {
    width: 100%;
    font-size: 16px;
    color: $base-600;
    font-weight: 700;
    grid-column: span 7;
    border: 1px solid $base-100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cell {
    outline: 1px solid $base-100;
    padding: 6px 12px;
  }
}

.task {
  border-radius: 24px;
  white-space: nowrap;
  transition: all 0.2s ease-in;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 28;
    margin-top: 16px;
    gap: 12px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
  }
  &--cyan {
    background-color: $cyan-500;

    border: 1px solid $cyan-600;
  }
  &--yellow {
    background-color: $yellow-500;
    border: 1px solid $yellow-600;
  }
  &--indigo {
    background-color: $indigo-500;
    border: 1px solid $indigo-600;
  }
  &--green {
    background-color: $green-500;
    border: 1px solid $green-600;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
