//base
$base-0: #0e121a;
$base-100: #1f2633;
$base-300: #475166;
$base-400: #606b80;
$base-500: #98a1b3;
$base-600: #b8bfcc;

// bg
$background-100: #030305;

//primary
$primary-600: #3b82f6;

//primary alpha
$primary-alpha-10: #2563eb1a;
$primary-alpha-20: #2563eb33;

//cyan
$cyan-500: #22d3ee;
$cyan-600: #06b6d4;

//yellow
$yellow-500: #facc15;
$yellow-600: #eab308;

//indigo
$indigo-500: #818cf8;
$indigo-600: #6366f1;

//green
$green-500: #4ade80;
$green-600: #22c55e;
