//base
$base-0: #0e121a;
$base-100: #1f2633;
$base-300: #475166;
$base-400: #606b80;
$base-600: #b8bfcc;

// bg
$background-100: #030305;

//primary
$primary-600: #3b82f6;

//primary alpha
$primary-alpha-10: #2563eb1a;
$primary-alpha-20: #2563eb33;
