.button {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px;
  transition: all 0.5s;
  &--contained {
    color: $primary-50;
    background-color: $primary-600;
    border-radius: 4px;

    &:hover {
      background-color: transparent;
      color: $primary-50;
      outline: 1px solid $primary-600;
    }
  }
  &--outlined {
    color: $primary-50;
    border: 1px solid $primary-600;
  }
  &--text {
    color: $primary-50;
  }
}
