.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  border-bottom: 1px solid $base-100;
  font-size: 14px;
  font-weight: 700;
  color: $base-500;
  &__item {
    text-transform: capitalize;
  }
}

.body {
  position: relative;
  display: flex;
  height: calc(100% - 42px);
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  &__form {
    flex-basis: 850px;
    border-right: 1px solid $base-100;
  }
  &__info {
    flex-grow: 1;
  }
  &__status {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: pulse-anim 2s infinite ease-in-out;
    transform-origin: center;
    &--cyan {
      filter: drop-shadow(0 0 8px $cyan-500);
      background-color: $cyan-500;
      border: 1px solid $cyan-600;
      animation-delay: 0.5s;
    }
    &--yellow {
      filter: drop-shadow(0 0 8px $yellow-500);
      background-color: $yellow-500;
      border: 1px solid $yellow-600;
      animation-delay: 0.3s;
    }
    &--indigo {
      filter: drop-shadow(0 0 8px $indigo-500);
      background-color: $indigo-500;
      border: 1px solid $indigo-600;
      animation-delay: 0.2s;
    }
    &--green {
      filter: drop-shadow(0 0 8px $green-500);
      background-color: $green-500;
      border: 1px solid $green-600;
      animation-delay: 0.1s;
    }
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;

  border-bottom: 1px solid $base-100;
  padding: 24px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 12px;

    position: relative;
  }

  &__input {
    height: 45px;
  }
  &__textarea {
    min-height: 200px;
    resize: vertical;
  }

  &__icon {
    display: flex;
    gap: 12px;
    padding: 4px;

    position: absolute;
    bottom: 15%;
    right: 12px;

    font-size: 12px;
    color: $base-600;
    font-weight: 700;

    border: 1px solid $base-100;
    border-radius: 4px;
    background-color: $base-0;
  }
}

.attachments {
  padding: 24px;

  &__title {
    font-weight: 700;
    color: $base-600;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 18px;
    margin-top: 12px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    flex: 0 0 22%;
    word-break: break-word;
    overflow: hidden;
    padding: 8px 12px;
    border: 1px solid $base-100;
    border-radius: 8px;
  }
  &__info {
    position: relative;
    cursor: pointer;
  }
  &__image {
    padding: 24px;
    width: 100%;
  }
  &__avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  &__name {
    font-weight: 700;
    line-height: 150%;
    font-size: 16px;
    color: $base-600;
    text-align: center;
  }
  &__date {
    font-weight: 700;
    line-height: 150%;
    font-size: 12px;
    color: $base-300;
    text-align: center;
  }
}

.subtasks {
  padding: 24px;
  border-bottom: 1px solid $base-100;
  &__title {
    margin-bottom: 12px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.subtask-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
}

.delete-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__button {
    background-color: $red-error;
  }
}

@keyframes pulse-anim {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
