

.task {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  justify-items: center;
  border: 1px solid $base-100;
  padding: 15px;

  &__title {
    grid-column: span 4;
    justify-self: start;
  }
  &__date {
    grid-column: span 3;
  }
  &__assignee {
    grid-column: span 2;
  }
}
