.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
  padding: 32px;
  gap: 12px;

  &__button {
    width: 100%;
    &-wrapper {
      flex-grow: 1;
      display: flex;
      justify-items: flex-end;
      align-items: end;
    }
  }
}

.profile {
  display: flex;
  gap: 12px;

  background-color: $base-0;
  border: 1px solid $base-100;
  padding: 8px;
  &__image {
    width: 32px;
    background-color: #fff;
  }
  &__information {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__name {
    font-size: 16px;
    font-weight: 700;
    color: $base-600;
  }
  &__email {
    font-weight: 700;
    color: $base-300;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 8px;
  &__title {
    color: $base-700;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid $base-300;
  }
}
