.header {
  background-color: $background-100;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: 1px solid $base-100;
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  &__profile {
    background-color: $primary-alpha-10;
    border-radius: 24px;
    border: 1px solid $primary-alpha-20;
    color: $primary-600;

    font-size: 14px;
    font-weight: 700;

    display: flex;
    align-items: center;
    padding: 12px 16px;

    cursor: pointer;
  }
}

.logout-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__title {
    color: $base-600;
    font-weight: 700;
  }
  &__controls {
    display: flex;
    gap: 18px;
  }
}
