.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  &__header {
    display: flex;
    justify-content: space-between;

    background-color: $base-0;
    border: 1px solid $base-100;

    padding: 12px 16px;
    border-radius: 6px;
  }
  &__info {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__color {
    width: 14px;
    height: 14px;

    border-radius: 2px;
    animation: pulse-anim 2s infinite ease-in-out;
    &--cyan {
      filter: drop-shadow(0 0 8px $cyan-500);
      background-color: $cyan-500;
      border: 1px solid $cyan-600;
    }
    &--yellow {
      filter: drop-shadow(0 0 8px $yellow-500);
      background-color: $yellow-500;
      border: 1px solid $yellow-600;
    }
    &--indigo {
      filter: drop-shadow(0 0 8px $indigo-500);
      background-color: $indigo-500;
      border: 1px solid $indigo-600;
    }
    &--green {
      filter: drop-shadow(0 0 8px $green-500);
      background-color: $green-500;
      border: 1px solid $green-600;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    color: $base-500;
  }
  &__counter {
    padding: 4px 8px;
    font-size: 12px;
    text-align: center;
    background-color: $base-0;
    border: 1px solid $base-100;
    color: $base-500;

    font-weight: 700;
  }
  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.dropzone {
  height: 119px;

  font-size: 18px;
  font-weight: 700;
  color: $base-400;

  border: 3px dashed $base-100;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;

  &--active {
    transition: all 0.3s;
    transform: scale(1.1);
    font-size: 24px;
  }
}

@keyframes pulse-anim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
