.item {
  border: 1px solid $base-100;
  background-color: $base-0;
  margin: 24px;
  &__header {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid $base-100;
  }
  &__icon {
    display: inline-block;
    transition: all 0.6s ease;
    &--selected {
      transform: rotate(180deg);
    }
  }
  &__button {
    color: $base-300;
    padding: 8px 12px;
    border-radius: 32px;
    border: 1px solid $base-100;
    background-color: $base-0;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
  }
  &__counter {
    color: $base-300;
    font-weight: 700;
  }
  &__add {
    margin-top: 24px;
    width: 100%;
    padding: 12px 0;
  }
  &__list {
    border-radius: 8px;
  }
}

.list {
  border: 1px solid $base-100;
  font-weight: 700;
  color: $base-600;
  &-wrapper {
    margin: 24px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.6s ease;
    &--active {
      grid-template-rows: 1fr;
    }
    & > * {
      min-height: 0;
      overflow: hidden;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    padding: 15px;
    justify-items: center;
  }
  &__title {
    grid-column: span 4;
    justify-self: start;
  }
  &__date {
    grid-column: span 3;
  }
  &__assignee {
    grid-column: span 2;
  }
}

.form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__select {
    border: 1px solid $base-300;
    padding: 4px 8px;
    border-radius: 4px;
  }
  &__item {
    background-color: $base-100;
  }

  &__description {
    border: 1px solid $base-300;
    padding: 4px 8px;
    resize: none;
    height: 100px;
    width: 400px;
  }
}
